/* Styles CSS par defaut */
* {
    margin: 0%;
    box-sizing: border-box;
    padding:0%;
}
html{
    display: flex;
    justify-self: center;
    align-self: center;
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    padding: 2px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image:url(Asset/Background.png) ;
    background-size: cover;
    gap: 20px;
}
.contener{
    padding: 1px;
}
header{
    margin-right: 2px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    align-items: center;
    
}
.push{
    max-width: 100%;
    min-height: 150px;
}
li{
    list-style: none;
}
a{
    color: black;
    text-decoration: none;
}
hgroup h1 h2{
    font-weight: bolder;
}
h3{
    color: white;
    align-self: center;
}
h4{
    display: flex;
    justify-self: center;
    align-self: center;
    margin: 20px;
}
.titre-image h3{
    font-weight: bolder;
    color:#9514B3  ;
    
}
article li{
    margin: 10px;
}
section{
    height: 100%;
}
.pied{
    height: 250px;
    background-color: #6D5EFF;
}

/* Styles des élément contenuent dans main */
/* Titres */



/* Nav barre */

nav{
    max-width:100% ;
    height:120px ;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRo9NSJ7MpbsMNPnoCcv2ajtHv3JTKqPPZH6Q&s");

    
}


.navbar-toggler{
    background-color: #6D5EFF!important;
}
.navbar-toggler :hover{
    box-shadow: 5px 5px 15px 5px #f1d3fa;
}

.navbar-toggler-icon{
    
}

nav li :hover{
 
    border-radius: 20px;
    box-shadow: 5px 5px 15px 5px #6D5EFF;
 ;
}

nav ul{
    margin: 10px;
}
/* Aside et contenue */

.section-aside{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/* Aside */

.lateral-barre{
    margin: 2px;
    padding: 2px;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    background-color: cornflowerblue;
    color: white;
    border-radius: 10%;
    gap: 20px;
}


/* Contenue Aside */

.portrait{
    margin: 30px;
    max-width: 300px;
    border-radius: 100%;
}

/* Contenue section */

.contenue{
    display: flex;
    flex-direction: column;
}

.contenue article{
   color: #f1d3fa;
    display: flex;
    justify-content: space-around;
    
}
article{
    margin: 2px;
    padding: 10px;
    display:flex;
    flex-direction: column;
    margin: 5px;
    border-radius: 20px;
    
}
article h3{
    margin: 5px;
}
.titre-image{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4px;
    
}
.image-article{

    object-fit:cover;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    width: 300px;
    height: 300px;
    
}


/* Contenue formation */

.contenu-formation{
    margin: 10px;
    padding: 10px;
    min-width: 500px;
    
}
.contenu-formation p{
    padding: 10px;
    max-width:400px ;
    flex-wrap: wrap;
}

.fieldset{
    max-width: 500px;
    height: 500px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    opacity:0.6 ;
}
.fieldset p{
    max-width: 450px;
    display: flex;
    flex-wrap: wrap;
}
#fieldset1:hover{
    background-color: transparent !important;
    border: solid 2px #9514B3;
    opacity: 1;
}
#fieldset1{
    color: cornflowerblue;
}
#fieldset1 legend{
    color:#f1d3fa;
}
#fieldset2:hover{
background-color: transparent !important;
border: solid 2px #9514B3;
opacity: 1;
}
.fieldset legend{
    margin: 10px;
    display: flex;
    justify-self: center;
    
}
.articles{
    margin: 15px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap !important;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}
.liste-formation{
    margin: 20px;
    padding: 15px;
    display:flex ;
    justify-content: space-around;
    flex-wrap: wrap;
}
.liste-formation li{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: rgb(72,22,105);
background: linear-gradient(90deg, rgba(72,22,105,1) 0%, rgba(149,20,179,0.804359243697479) 34%, rgba(223,204,230,0.8239670868347339) 96%);
}


/* Contenu compétences */



.competences-langages{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.competences-metiers{
    display: flex;
    flex-direction: column;
    
}

.image-langage{
    width: 100px;
    height: 100px;
}
#java{
    background-color: white;
}


/* Contenu projet */
.cards{
    margin: 10px;
    padding: 10px;
    max-width:1100px;
    max-height: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
   
}
.card{
    max-width: 350px;
    max-height: 350px;
    
    
}
.card-img-top{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.logo-github{
width: 50px;
height: 50px;
display: flex;
justify-self: center;
}
.logo-github:hover{
    box-shadow: #6D5EFF;
}


/* Formulaire de contact */

.section-formulaire{
    max-width: 100%;
    display: flex;
    justify-content: center;
}

fieldset{
    
    margin: 5px;
    align-self: center;
    display: flex;
    justify-content: center;
    border-radius: 15px;
}
legend{
    font-size: large;
    font-weight: bolder;
}
form{
    padding: 5px;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
}
form label{
    margin: 5px;
}
.label-input{
    
    display: flex;
    flex-direction: row;
}
.submit-button{
    margin: 5px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background-color: #6D5EFF;
    display: flex;
    align-self: center;
    color: white;
    font-weight: bold;
}
footer{
    min-width: 768px;
    margin-top: 10px;
    padding: 5px;
    height: 100px;
    background-color: #6D5EFF;
    display: flex;
    align-items: center;
}
footer a{
    
    color: white;
}

/* responsive */

@media (max-width: 768px){
    header{
        min-width: 760px;
    }
    .section-aside{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .lateral-barre{
        min-width: 100%;
        min-height: 100%;
        margin-left: 20px;
    }
    .lateral-barre article{
        display: flex;
        align-items: center;
    }
    .titre-image{
        justify-content: space-between;
    }
    article{
        margin-left: 30px;
    }
    .articles{
        display: flex;
        flex-direction: column-reverse;  
    }
    .card{
        max-width: 200px;
    }

    #article-langage{
        display: none;
    }
}